<div class ='user-details'>
  <div class ='profile-picture'>
    <%= cl_image_tag @user.photo.key, style: "width: 280px; height: 280px; object-fit: cover; border-radius: 24px; margin: 10px 10px 0 10px; box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);" %>
  </div>

  <div class ='user-info'>
    <h2> <%= @user.name %> | <%= @user.age %> | <%= @user.gender %></h2>
      <p>Location: <%= @user.location %></p>
      <p>Description: <%= @user.description%></p>
  </div>

  <h1>New Rental</h1>

<%= simple_form_for @rental do |f| %>

  <%= f.input :booking_date, label: "Booking Date", as: :date, html5: true %>

  <%= f.association :activity,
              collection: @user.activities,
              label: "Choose an Activity",
              prompt: "Select an activity" %>

  <%= f.submit "Submit Rental", class: "btn btn-primary" %>
<% end %>
</div>
