<div class ='user-details'>
  <div class ='user-info'>
    <%= cl_image_tag @user.photo.key, class: "profile-picture mb-3" %>
    <h2> <%= @user.name %> | <%= @user.age %> | <%= @user.gender %></h2>
    <p><i class="fa-solid fa-location-dot"></i> Location : <%= @user.location %></p>
    <p><i class="fa-solid fa-user"></i> About <strong><%= @user.name %></strong> :</p>
    <p><%= @user.description %></p>
  </div>
</div>
<div class='row justify-content-center'>
  <div class='col-12 d-flex flex-column align-items-center'>
    <div class='user-activities text-center'>
      <h3>Activities</h3>
      <div class="activity-list">
        <% @user.activities.each do |activity| %>
          <div class="activity-item">
            <strong><%= activity.name %></strong> - <%= number_to_currency(activity.price) %>
          </div>
        <% end %>
      </div>
    </div>

    <div class='rental-form-container me-3 mt-3 mb-5'>
      <h2>New Rental</h2>
      <%= simple_form_for @rental do |f| %>
        <%= f.input :booking_date, label: "Booking Date", as: :date, html5: true %>
        <%= f.association :activity,
          collection: @user.activities,
          label: "Choose an Activity",
          prompt: "Select an activity" %>
        <%= f.submit "Submit Rental", class: "submit-rental btn btn-danger" %>
      <% end %>
    </div>

    <%= link_to "Make a review", new_user_review_path(@user), class: "btn btn-primary"%> 

    <div class="reviews_container">
      <p><strong>Reviews</strong></p>
      <% @user.reviews_as_friend.each do |review| %>
      <div class="review">
        <p><%= review.reviewer.name%>: <%= review.content %></p>
        <p><%= review.rating %>/5</p>
        <%= link_to "Delete",
          review_path(review),
          data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
        %>
      </div>
      <% end %>
    </div>
  </div>
</div>
