<div class="review-form">
  <h1>New review</h1>
  <%= simple_form_for [@user, @review] do |f| %>
    <%= f.error_notification %>
    <%= f.input :content, label: "Review Content" %>
    <%= f.input :rating, collection: (1..5).to_a, label: "Rating" %>
    <%= f.submit "Submit review", class: "btn btn-primary" %>
  <% end %>
</div>
